<%= form_for(@comment) do |f| %>
	<% if @comment.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

			<ul>
			<% @comment.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :post_id %><br>
		<%= f.text_field :post_id %>
	</div>
	<div class="field">
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
